:root {
  font-family: sans-serif;

  --color--1: #7A28CB;

  --color-1-1: #FC60A8;
  --color-2-1: #CEEC97;
  --color-3-1: #505050;

  --font-size-1: 60px;
  --font-size-2: 40px;
  --font-size-3: 30px;
  --font-size-4: 25px;
  --font-size-5: 20px;
  --font-size-6: 15px;
}

/* BLOCK - body */

body {
  display: grid;
  grid-template: auto 1fr auto / 1fr 60% 1fr;
  height: 100vh;
  background-color: var(--color-3-1);
}

/* BLOCK - header */

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-color: var(--color-1-1);
  height: fit-content;
  font-size: var(--font-size-1);
  padding: 20px 0;
  text-align: center;
}

/* BLOCK - footer */

.footer {
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  background-color: var(--color-1-1);
  height: fit-content;
  font-size: var(--font-size-6);
  padding: 20px 0;
  text-align: center;
}

/* BLOCK - content */

.content {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: var(--color-2-1);
  height: 100%;
}

/* BLOCK - projects-section */

.projects-section {
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px 20px;
  padding: 20px;
  justify-items: center;
}

.projects-section__title {
  font-size: var(--font-size-2);
}

.projects-section__add-project-button {
  font-size: var(--font-size-3);
  width: 80%;
}

/* BLOCK - projects-list */

.projects-list {
  display: grid;
  row-gap: 10px;
  width: 100%;
  /* grid-auto-rows: auto; */
}

.projects-list__project {
  display: grid;
  align-items: center;
  column-gap: 10px; 
  grid-template-columns: min-content 1fr;
}

.projects-list__remove-project-button {
  font-size: var(--font-size-3);
}

.projects-list__project-title {
  font-size: var(--font-size-3);
}

/* BLOCK - add-project-form */

.add-project-form {
  background-color: #CEEC97;
  padding: 30px;
  display: grid;
  gap: 10px 10px;
  /* justify-items: center; */
  /* align-items: center; */
  width: 400px;
  height: 200px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  /* grid-template: min-content min-content min-content / min-content min-content; */
  /* grid-template: auto auto auto / auto auto; */
}

.add-project-form label {
  grid-column: 1 / span 2;
  font-size: var(--font-size-3);
  align-self: center;
  justify-self: center;
}

.add-project-form input {
  font-size: var(--font-size-3);
  grid-column: 1 / span 2;
}

.add-project-form button {
  font-size: var(--font-size-3);
}

/* tag modifiers */

button {
  padding: 5px;
}

/* general elements */

.modal {
  display: grid;
  justify-items: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

/* block element modifiers */

.button--disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* general modifiers */

.hidden {
  display: none;
}